/*
* @Author: far
* @Date:   2016-10-10 12:56:21
* @Last Modified by:   far
* @Last Modified time: 2016-10-10 13:29:46
*/
.load_top {
    padding-left: 11px;
    width: 989px;
    margin: 0 auto;
    height: 60px;
    padding-top: 40px;
}
.load_top > .top_l {
    float: left;
}
.load_top > .top_l > .top_l1 {
    background: url(../images/load1101.png) no-repeat -111px -104px;
    width: 177px;
    height: 60px;
    padding-right: 25px;
    border-right: 1px solid #d2d0d3;
    float: left;
}
.load_top > .top_l > .top_l1 a {
    display: block;
    width: 100%;
    height: 100%;
}
.load_top > .top_l > .top_l2 {
    float: left;
    line-height: 60px;
    padding: 0 15px;
    color: #626262;
    font-size: 20px;
    font-family: microsoft yahei;
}
.load_top > .top_r {
    float: right;
    margin-top: 15px;
    font-family: microsoft yahei;
}
.load_top > .top_r li {
    float: left;
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #313131;
}
.load_top > .top_r li.top_r1 {
    background: url(../images/load1101.png) no-repeat -389px -59px;
    padding-left: 40px;
    width: 100px;
}
.load_top > .top_r li.top_r2 {
    background: url(../images/load1101.png) no-repeat -389px -90px;
    padding-left: 40px;
    width: 100px;
}
.load_top > .top_r li.top_r3 {
    background: url(../images/load1101.png) no-repeat -389px -121px;
    padding-left: 40px;
    width: 100px;
}

.load_con {
    width: 1000px;
    margin: 50px auto 0;
}
.load_con_l_reg {
    width: 540px;
    height: 400px;
    float: left;
    border-style: none;
    cursor: pointer;
}
.load_con_r {
    width: 402px;
    float: left;
    padding-left: 34px;
}
.load_con_r .r_con {
    width: 340px;
    height: 375px;
    padding: 60px 0 0 60px;
}
.load_con_r .r_con .cell {
    width: 280px;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
}
.load_con_r .r_con .cell label {
    font-size: 14px;
    padding: 0 15px;
    color: #aaa;
    cursor: text;
    line-height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.load_con_r .r_con .cell .error {
    border-color: #f20267;
}
.load_con_r .r_con .cell .text {
    width: 248px;
    height: 16px;
    color: #000;
    font-size: 14px;
    padding: 11px 15px;
    color: 000;
    font-size: 14px;
    border: 1px solid #cfcfd1;
    border-radius: 3px;
    line-height: 16px;
    position: absolute;
    left: 0;
    top: 0;
}
.load_con_r .r_con .cell .ok {
    background: url(../images/load1101.png) no-repeat -176px -66px;
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    right: 14px;
    top: 12px;
}

.load_con_r .r_con .cell .cell_hid {
    color: #e20000;
    padding-right: 20px;
    white-space: nowrap;
    height: 28px;
    padding-left: 38px;
    border: 1px solid #de3a39;
    border-radius: 3px;
    line-height: 28px;
    background: #fef1f7 url(../images/load1101.png) no-repeat -395px -163px;
    position: absolute;
    left: 0;
    top: -32px;
    z-index: 3;
}

.load_con_r .r_con .cell .cell_hid .sanj {
    position: absolute;
    left: 20px;
    top: 28px;
    background: url(../images/load1101.png) no-repeat -35px -168px;
    width: 15px;
    height: 8px;
    display: block;
}

.load_con_r .r_con .r_rem {
    height: 13px;
    margin-bottom: 24px;
}
.load_con_r .r_con .r_rem .tj {
    background: url(../images/load1101.png) no-repeat -406px -216px;
}
.load_con_r .r_con .r_rem .r_rem1 {
    float: left;
    background: url(../images/load1101.png) no-repeat -406px -197px;
    height: 14px;
    line-height: 14px;
    padding-left: 20px;
    float: left;
    color: #666;
    margin-right: 15px;
    cursor: pointer;
}
.load_con_r .r_con .r_rem .r_rem2 {
    color: #666;
    float: left;
    height: 14px;
    line-height: 14px;
}

.load_con_r .r_con .r_load {
    line-height: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.load_con_r .r_con .r_load_btn {
    background: url(../images/load1101.png) no-repeat -34px -64px;
    border: 0;
    font-size: 15px;
    width: 140px;
    height: 40px;
    font-family: microsoft yahei;
    text-align: center;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 60px;
}

.load_con_r .r_con .r_load_zc {
    float: left;
    color: #c8030a;
    font-size: 14px;
}


.load_foot {
    width: 1000px;
    margin: 60px auto 0;
}
.load_foot p {
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #898989;
}